#contain {
  height: 100%;
  overflow: hidden;
  z-index: 2
}
.main {
   width: 100%;
   height: 75%;
}
.el-menu,
.el-menu-item {
  float: left;
  width: 5rem;
  padding: 0;
}
.el-menu-item {
  height: 2.5rem;

}
.center-show {
  margin-left:5rem; // 实现左边自适应宽度
  height:21rem
}
.li_title {
  width: 100%;
  background-color: rgb(175, 171, 171);
  font-size: .8rem;
  color: white;
}
.wrapper{
  height: 100%;
  overflow: hidden;
}
.food-contain {
  height: 3rem;
}
.food-contain img {
  width: 3rem;
  height: 2.8rem
}
.food-contain strong {
  position: relative;
  float: right;
  margin-top:1rem;
  font-size: .6rem;
  .num {
    display: inline-block;
    position: absolute;
    color: darkred;
    width: .1rem;
    height: .1rem;
    top: -.3rem;
    right: 1.4rem
  }
}
.footer{
  position: absolute;
  bottom:0rem;
  background-color: #99acbe;
  width: 100%;
  height: 2.5rem;
  .chooseNum {
    position: absolute;
    display: inline-block;
    bottom: 1.4rem;
    right: 5rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgb(238, 64, 64);
    color:white;
    text-align: center;
    font-size: 18px;
  }
}
.head{
  width:100%;
  height: 2.5rem
}
.search{
  display: inline-block;
  height: 100%;
}
.img-contain {
  height: 20%;
  width: 100%;
}
.img-contain img {
  width: 100%;
  height: 100%;
}
.home {
  width: 100%;
  height: 100%;
}
.home img {
  width: 50%;
  height: 9rem;
  float: left
}
.home p {
  width: 50%;
  line-height: 1rem;
}